.footer {
  background: #1a1a1a;
  text-align: center;
  &-copy-right {
    font-size: 12px;
    padding: 30px 0;
    color: #fff;
  }
}
.top-footer {
  margin-top: 88px;
  display: flex;

  @include mq("sp") {
    margin-top: 20px;
    display: block;
  }
}

.top-footer-left{

}
