.story-page-inner > .breadcrumb-area {
  font-size: 16px;
  color: #fff;
  span {
    font-size: 16px;
    color: #fff;
  }
}
.breadcrumb-area {
  margin-top: 5px;
  span {
    font-size: 12px;
    color: #333;
  }
}
